<div class="hero-unit">
    <h1>Hello!</h1>
    <p>You now have</p>
    <ul>
        <li>HTML5 Boilerplate</li>
        <li>jQuery</li>
        <li>Backbone.js</li>
        <li>Underscore.js</li>
        <li>Sass</li>
        <li>Modernizr</li>
    </ul>
</div>